@{
    ViewData["Title"] = "Acerca de";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Curso impartido por Udemy</p>
<p>Curso de Sistemas web ASP.Net Core, MVC, Entity Framework y Ajax</p>
<p>con tecnologías Microsoft, utilizando Visual Studio 2017</p>
