@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Martín Basurto Díaz<br />
    Ciudad de México<br />
</address>

<address>
    <strong>Contacto:</strong> <a href="mailto:mbd.97@hotmail.com">mbd.97@hotmail.com</a><br />
</address>
